@CHARSET "UTF-8";

body {
  background-color: rgba(255, 193, 7, 0.7) !important;
    width: 100%;
    height: 100%;
 position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   

}
 #autorization{
background-color:white;
font-family: verdana, sans-serif; 
border-radius: 2px;
box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.3);
text-align: center;
width: 300px;
display: block;
padding: 2% 0;
font-size: 13px;
}
#registration{
background-color:white;
font-family: verdana, sans-serif; 
border-radius: 2px;
box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.3);
text-align: center;
width: 300px;
display: block;
padding: 2% 0;
font-size: 13px;
}